*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 800px;
     background-image: linear-gradient(45deg , rgb(8, 8, 107), rgb(90, 3, 3));
}
.nav{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    padding: 10px;

}
.logo{
    width: 100px;
    height:100%;
    background-image: url(assets/logo.png);
    background-size: contain;
    background-repeat: no-repeat;


}
.links{
    width: 30%;
    height: 100%;
    display: flex;
    gap: 20px;
}
.links a{
    
    text-decoration: none;
}

.card{
    height: 450px;
    width: 100px;
    padding: 10px;
    background-color: rgba(199, 197, 197, 0.411);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    position: absolute;
    top: 100px;
    left: 40%;
   
}
.card li{
    list-style: none;
}
.card img{
    width:100px;
    height: 100px;
    object-fit: cover;
    border-radius: 500%;
}

a{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.modalmain{
    width: 300px;
    height: auto;
    padding: 10px;
    background-color: rgb(197, 202, 206);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    gap: 15px;
}
.hide{
    display: none;
}
.overlay{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.637);
    position: absolute;
    top: 0px;
    left: 0px;
}
.inputdiv{
 width: 90%;
 height: 40px;
 margin-bottom: 25px;

}
.inputdiv input{
   background-color: transparent;
   padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid blue;
}
.btndiv{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}