*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 800px;
    width: 100vw;
    background-image: linear-gradient(45deg , rgb(8, 8, 107), rgb(90, 3, 3));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 50px;
        overflow-x: hidden;
}
.nav{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    padding: 10px;

}
.logo{
    width: 100px;
    height:100%;
    background-image: url(assets/logo.png);
    background-size: contain;
    background-repeat: no-repeat;


}
.links{
    width: 25%;
    height: 100%;
    display: flex;
    gap: 20px;
}
.links a{
    
    text-decoration: none;
}
.main{
    width: 300px;
    height: auto;
    background-color: rgba(175, 174, 180, 0.925);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
}
.main input{
    width: 80%;
    height: 30px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1px solid rgb(43, 41, 41);
    background-color: transparent;
    padding: 10px;
}
.main p{
    font-size: 18px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}
.signheading{
    color: rgb(59, 49, 49);
    text-decoration:underline ;
}
.links i{
    display: none;
}
.nav2{
    display: none;
}

@media only screen and (max-width:900px) {
    .links{
        justify-content: end;
    }
    .links i{
    display: block;
    cursor: pointer;
}
.links a{
    
   display: none;
}
#sideNav{
    height: 100vh;
    width: 30%;
    background-color: aliceblue;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
     transition: 0.3s ease all;

    

}
.logo2{
    height: 100px;
    width: 80%;
    background-image: url(assets/logo.png);
    background-size: contain;
    background-repeat: no-repeat;

}
.links2 a{
  
    text-decoration: none;
    color: black;
}

    
}

.hide{
    transition: 0.3s ease all;
    opacity: 0;
}