*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 800px;
    width: 100vw;
    background-image: linear-gradient(45deg , rgb(8, 8, 107), rgb(90, 3, 3));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 50px;
        overflow-x: hidden;
}
.nav{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    padding: 10px;

}
.logo{
    width: 100px;
    height:100%;
    background-image: url(assets/logo.png);
    background-size: contain;
    background-repeat: no-repeat;


}
.links{
    width: 30%;
    height: 100%;
    display: flex;
    gap: 20px;
}
.links a{
    
    text-decoration: none;
}
.main{
    width: 300px;
    height: auto;
    background-color: rgba(175, 174, 180, 0.925);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
}
.main input{
    width: 80%;
    height: 30px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1px solid rgb(43, 41, 41);
    background-color: transparent;
    padding: 10px;
}
.main p{
    font-size: 18px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}
.signheading{
    color: rgb(59, 49, 49);
    text-decoration:underline ;
}